body {
    display:flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    font-family: sans-serif;
}

.width {
    display: flex;
    align-items: center;
    width: 1000px;
    padding: 40px 100px;
}

.full-width-container {
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
}

/* header section */

header {
    background-color: #1F2937;
}

header .width {
    justify-content: space-between;
    padding: 0px 100px 30px 100px;
}

h4 {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
}

ul {
    display: flex;
    font-size: 18px;
    gap: 18px;
    align-items: right;
    list-style-type: none;
    color: #E5E7ED;
}

a {
    text-decoration: none;
    color:#E5E7ED;
}

/* intro section */

.intro {
    background-color: #1F2937;
    padding: 0px 0px 50px 0px;
}

.intro .width {
    justify-content: space-between;
    align-items: flex-start;
}

.intro .left {
    flex-basis: 450px;
    flex-grow:0;
}

.intro .left h2 {
    font-size:48px;
    color:#F9FAF8;
    margin: 0;
}

.intro .left p {
    margin:0 0 10px 0;
    color:#E5E7EB;
    font-size:18px;
}

.intro .right {
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color:#80868d;
    flex-basis:500px;
    height: 220px;
}

.placeholder {
    color: white;
}

.signupbutton {
    padding: 8px 32px;
    font-size: 16px;
    background-color: #3882F6;
    color: white;
    border-radius: 6px;
    font-weight: bold;
    border: 0px;
}

/* information section */

.information .width {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 { 
    margin-top:0;
    margin-bottom: 30px;
    font-size: 32px;
}

.container {
    display: flex;
    margin-bottom: 40px;
    gap: 60px;
}
 
.items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxes {
    border: 4px solid #3882F6;
    border-radius: 12px;
    width: 150px;
    height: 150px;
}

.items p {
    margin: 5px 0px;
    width: 150px;
    font-size: 16px;
    text-align: center;
}

/* quote section */

.quote {
    background-color: #E5E7EB;  
}

.quote .width {
    flex-direction: column;
    width: 815px;
}

.quote q {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color:#1F2937;
    quotes: none;
    padding-top: 40px;
}

.quote cite {
    font-weight: bold;
    font-size: 24px;
    font-style: normal;
    align-self: flex-end;
}

.signup {
    background-color: #3882F6;
    margin: 30px 125px;
}

.white {}

.footer {
    display: flex;
    flex: 1 0 0;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}